window{
    background-color:rgb(0,0,0);
    color:rgb(185, 185, 185);
    font-size:12px;
}
window label{
    border-style: none;
}

progressbar{
    margin-top:12px;

}

progressbar progress {
    min-height: 12px;
    background-color: rgba(83, 165, 198, 255);
}

label{
    border-bottom: steelblue;
    border-width: 1px;
    border-style: solid;
}

button{
    min-width: 98px;
    min-height: 57px;
}
button label{
   border-style: none;
}

#scoreWindow{
    padding:10px 10px 10px 10px;
    font-size:16px;
    background-color: rgb(66, 66, 66);
}

#helpWindow{
    font-size:16px;
    background-color: rgb(66, 66, 66);
}

#helpWindow label{
    margin:10px 10px 10px 10px;
}

#scoreWindow button{
    margin-top: 10px;
    min-width: 98px;
    min-height: 20px;
}

#boardGrid{
    background-color: rgb(0, 51, 4);
}

#activeLabel{
    color:red;
}

#inactiveLabel{
    color:rgb(185, 185, 185);
}
#greenLabel{
    margin-top:12px;
    padding-top:9px;
    padding-bottom: 9px;
    color:rgb(2, 163, 2);
}
#redLabel{
    margin-top:12px;
    padding-top:9px;
    padding-bottom: 9px;
    color:red;
}