window{
    background-color: rgb(0, 43, 6);
}

image{
    margin-top:1px;
    background-color: rgb(116, 116, 116);
}

progressbar{
    margin-top:12px;
}

progressbar progress {
    min-height: 12px;
    background-color: rgba(83, 165, 198, 255);
}

label{
    margin-top:12px;
}

button{
    min-width: 96px;
    min-height: 46px;
}